@keyframes pageIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(6px);
  }
}

@keyframes letterReveal {
  0% {
    z-index: 3;
    transform: translateY(0);
  }

  70% {
    z-index: 3;
    transform: translateY(-30%);
  }

  80% {
    z-index: 999;
    transform: translateY(-25%);
  }

  100% {
    z-index: 999;
    transform: translateY(-45%);
  }
}
